{% extends 'base.html.twig' %}

{% block title %}Manage Account!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cards.css') }}">
{% endblock %}

{% block body %}
    <section>
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-md-2 no-pad">
                        <div class="user-image">
                            <img class="img-responsive thumbnail" src="{{ app.user.avatarUrl }}" alt="user's image">
                        </div>
                    </div>
                    <div class="col-md-10 no-pad">
                        <div class="user-pad">
                            <h3 class="grey-text">Welcome back, {{ app.user.email }}</h3>
                        </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-12 user-pad text-center">
                        <h3>WORKOUTS</h3>
                        <h4>{{ app.user.workouts | length }}</h4>
                        <a href="{{ path('app_workout_new') }}" class="btn btn-wm">Create a New</a>
                    </div>
                </div>
            </div>
        </div>
        {% if app.user.workouts | length > 0 %}
            <article class="my-5 row">
                  {% for workout in app.user.workouts %}
                        <div class="col-lg-4 col-sm-6 col-12 mb-4">
                            <div class="card-style card-wm">
                                <div class="wrapper">
                                    <a href="{{ path('app_workout_show', {'slug': workout.slug}) }}">
                                        <img src="{{ workout.imageName ? vich_uploader_asset(workout, 'imageFile') | imagine_filter('thumb') : asset('images/workouts/default.jpg') | imagine_filter('thumb') }}"
                                             alt="workout's image">
                                    </a>
                                    <div class="date">
                                        <span class="day">{{ workout.createdAt | ago }}</span>
                                    </div>
                                    <div class="data">
                                        <div class="content">
                                            <h3 class="title"><a href="{{ path('app_workout_show', {'slug': workout.slug}) }}">{{ workout.name }}</a></h3>
                                            <p class="text">{{ workout.description }}</p>
                                            <label for="{{ workout.slug }}" class="menu-button"><span></span></label>
                                        </div>
                                        <input type="checkbox" id="{{ workout.slug }}" />
                                        <ul class="menu-content">
                                            <li><a href="{{ path('app_workout_update', {'slug': workout.slug}) }}" class="fas fa-edit"></a></li>
                                            <li><a href="{{ path('app_workout_delete', {'id': workout.id}) }}" onclick="return confirm('are u sure?')" class="far fa-trash-alt"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

            </article>
        {% endif %}
    </section>
{% endblock %}
