{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
    {{ parent() }}
    <!--Mask-->
    <section id="intro" class="view">
        <div class="mask rgba-black-light">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-12">
                        <h1 class="display-4 font-weight-bold white-text pt-5 mb-2">Workout Maker</h1>

                        <hr class="my-5 hr-wm">

                        <h2 class="white-text my-4">Créer votre entrainement sur mesure</h2>
                        <a href="{{ path('app_workouts') }}" class="btn btn-wm">Trouver un workout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Mask-->
{% endblock %}

{% block body %}
    <section class="mt-5 container">
        <!--Section: Best Features-->
        <section id="best-features" class="text-center white-text">
            <h2 class="font-weight-bold mb-5 ">Best Features</h2>
            <aside class="row d-flex justify-content-center mb-4">
                <p class="col-mb-8">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum ex hic itaque nam repellat velit vero. Consectetur consequatur dolor facere fugiat harum ipsum laudantium nihil nostrum, sed, sint voluptates!
                </p>
            </aside>

            <hr class="my-5 hr-wm">

            <section class="row">

                <aside class="col-md-4 mb-1">
                    <i class="fas fa-cogs fa-4x orange-text-wm"></i>
                    <h3 class="my-4 font-weight-bold">Create</h3>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci beatae esse facilis id iste minus pariatur quae totam vitae! A dolorem in, incidunt molestias mollitia natus nesciunt temporibus? Aut!</p>
                </aside>

                <aside class="col-md-4 mb-1">
                    <i class="fas fa-dumbbell fa-4x orange-text-wm"></i>
                    <h3 class="my-4 font-weight-bold">Experiance</h3>
                    <p class="grey-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci beatae esse facilis id iste minus pariatur quae totam vitae! A dolorem in, incidunt molestias mollitia natus nesciunt temporibus? Aut!</p>
                </aside>

                <aside class="col-md-4 mb-1">
                    <i class="fa fa-heart fa-4x orange-text-wm"></i>
                    <h3 class="my-4 font-weight-bold">Happiness</h3>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci beatae esse facilis id iste minus pariatur quae totam vitae! A dolorem in, incidunt molestias mollitia natus nesciunt temporibus? Aut!</p>
                </aside>

                 <aside class="col-12">

                     <hr class="my-5 hr-wm">

                    <h2 class="font-weight-bold">Do you want to create your workout?</h2>
                    <a href="#" class="btn btn-wm">click here <i class="fas fa-cogs"></i></a>
                </aside>

            </section>

        </section>
        <!--/Section: Best Features-->

        <hr class="my-5 hr-wm">

        <section class="white-text">
            <h2 class="text-center font-weight-bold mb-4">last workout</h2>

            <!-- Workout section -->
            <a href="#" class="white-text">
                <article class="media">
                    <img class="d-flex align-self-center mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg" alt="Generic placeholder image">
                    <aside class="media-body">
                        <p class="font-weight-bold mb-0">Fran</p>
                        <p class="mb-0">
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                        </p>
                        <p class="mb-0">Tronc, Bas du corps</p>
                        <p class="mb-0">Difficulté <i class="fa fa-circle orange-text-wm"></i>  <i class="far fa-circle orange-text-wm"></i> <i class="far fa-circle orange-text-wm"></i></p>
                        <p class="mb-0">Auteur : Froste L</p>
                    </aside>
                </article>
            </a>

            <hr class="hr-wm">
            <!-- /Workout section -->

            <!-- Workout section -->
            <a href="#" class="white-text">
                <article class="media">
                    <img class="d-flex align-self-center mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg" alt="Generic placeholder image">
                    <aside class="media-body">
                        <p class="font-weight-bold mb-0">Fran</p>
                        <p class="mb-0">
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                        </p>
                        <p class="mb-0">Tronc, Bas du corps</p>
                        <p class="mb-0">Difficulté <i class="fa fa-circle orange-text-wm"></i>  <i class="far fa-circle orange-text-wm"></i> <i class="far fa-circle orange-text-wm"></i></p>
                        <p class="mb-0">Auteur : Froste L</p>
                    </aside>
                </article>
            </a>

            <hr class="hr-wm">
            <!-- /Workout section -->

            <!-- Workout section -->
            <a href="#" class="white-text">
                <article class="media">
                    <img class="d-flex align-self-center mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg" alt="Generic placeholder image">
                    <aside class="media-body">
                        <p class="font-weight-bold mb-0">Fran</p>
                        <p class="mb-0">
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                            <i class="fa fa-star orange-text-wm"> </i>
                        </p>
                        <p class="mb-0">Tronc, Bas du corps</p>
                        <p class="mb-0">Difficulté <i class="fa fa-circle orange-text-wm"></i>  <i class="far fa-circle orange-text-wm"></i> <i class="far fa-circle orange-text-wm"></i></p>
                        <p class="mb-0">Auteur : Froste L</p>
                    </aside>
                </article>
            </a>

            <aside class="text-center mt-5">
                <a href="{{ path('app_workouts') }}" class="btn btn-wm">See more</a>
            </aside>

            <!-- /Workout section -->

        </section>

        <hr class="my-5 hr-wm">

        <!--Section: Contact-->
        <section id="contact">

            <!-- Heading -->
            <h2 class="font-weight-bold text-center white-text mb-3">Contact us</h2>

            <!--Grid row-->
            <article>
                    <!-- Form contact -->
                    <form class="p-5">
                        <div class="md-form form-sm"> <i class="fa fa-user prefix orange-text-wm"></i>
                            <input type="text" id="form1" class="form-control form-control-sm">
                            <label for="form1">Your name</label>
                        </div>
                        <div class="md-form form-sm"> <i class="fa fa-envelope prefix orange-text-wm"></i>
                            <input type="text" id="form2" class="form-control form-control-sm">
                            <label for="form2">Your email</label>
                        </div>
                        <div class="md-form form-sm"> <i class="fa fa-tag prefix orange-text-wm"></i>
                            <input type="text" id="form3" class="form-control form-control-sm">
                            <label for="form3">Subject</label>
                        </div>
                        <div class="md-form form-sm"> <i class="fa fa-pen prefix orange-text-wm"></i>
                            <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
                            <label for="form8">Your message</label>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-wm">Send <i class="fa fa-paper-plane ml-1"></i></button>
                        </div>
                    </form>
                    <!-- Form contact -->
            </article>
            <!--Grid row-->

        </section>
        <!--Section: Contact-->

    </section>

{% endblock %}
