{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/cards.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
    {{ parent() }}
    <!--Mask-->
    <section id="intro" class="view mb-5">
        <div class="mask rgba-black-light">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-12">
                        <h1 class="display-4 font-weight-bold white-text pt-5 mb-2">Workout Maker</h1>

                        <hr class="my-5 hr-wm">

                        <h2 class="white-text my-4">Créer votre entrainement sur mesure</h2>
                        <a href="{{ path('app_register') }}" class="btn btn-wm">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Mask-->

{% endblock %}

{% block body %}

    <section class="container pt-5">
        <!--Section: Best Features-->
        <section id="best-features" class="text-center white-text">
            <h2 class="font-weight-bold my-5 ">Best Features</h2>
            <aside class="row d-flex justify-content-center mb-4">
                <p class="col-mb-8">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum ex hic itaque nam repellat velit vero. Consectetur consequatur dolor facere fugiat harum ipsum laudantium nihil nostrum, sed, sint voluptates!
                </p>
            </aside>

            <hr class="my-5 hr-wm">

            <section class="row">

                <aside class="col-md-4 mb-1">
                    <i class="fas fa-cogs fa-4x orange-text-wm"></i>
                    <h3 class="my-4 font-weight-bold">Create</h3>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci beatae esse facilis id iste minus pariatur quae totam vitae! A dolorem in, incidunt molestias mollitia natus nesciunt temporibus? Aut!</p>
                </aside>

                <aside class="col-md-4 mb-1">
                    <i class="fas fa-dumbbell fa-4x orange-text-wm"></i>
                    <h3 class="my-4 font-weight-bold">Experiance</h3>
                    <p class="grey-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci beatae esse facilis id iste minus pariatur quae totam vitae! A dolorem in, incidunt molestias mollitia natus nesciunt temporibus? Aut!</p>
                </aside>

                <aside class="col-md-4 mb-1">
                    <i class="fa fa-heart fa-4x orange-text-wm"></i>
                    <h3 class="my-4 font-weight-bold">Happiness</h3>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci beatae esse facilis id iste minus pariatur quae totam vitae! A dolorem in, incidunt molestias mollitia natus nesciunt temporibus? Aut!</p>
                </aside>

                 <aside class="col-12">

                     <hr class="my-5 hr-wm">

                    <h2 class="font-weight-bold">Do you want to create your workout?</h2>
                    <a href="{{ path('app_workout_new') }}" class="btn btn-wm">click here <i class="fas fa-cogs"></i></a>
                </aside>

            </section>

        </section>
        <!--/Section: Best Features-->

        <hr class="my-5 hr-wm">

        <section class="row">
            <h2 class="col-12 text-center font-weight-bold white-text mb-4">last workout</h2>

            <!-- Workout section -->
            {% for workout in workouts %}
                <div class="col-lg-4 col-sm-6 col-12 mb-4">
                    <div class="card-style card-wm">
                        <div class="wrapper" >
                            <a href="{{ path('app_workout_show', {'slug': workout.slug}) }}">
                                <img src="{{ workout.imageName ? vich_uploader_asset(workout, 'imageFile') | imagine_filter('thumb') : asset('images/workouts/default.jpg') | imagine_filter('thumb') }}"
                                     alt="workout's image">
                            </a>
                            <div class="date">
                                <span class="day">{{ workout.createdAt | ago }}</span>
                            </div>
                            <div class="data">
                                <div class="content">
                                    <img src="{{ workout.user.avatarUrl(30) }}" alt="user logo" class="img-responsive thumbnail">
                                    <span class="author">{{ workout.user.email }}</span>
                                    <h3 class="title"><a href="{{ path('app_workout_show', {'slug': workout.slug}) }}">{{ workout.name }}</a></h3>
                                    <p class="text">{{ workout.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </section>

        <hr class="my-5 hr-wm">
        <!--Section: Contact-->
        <section id="contact" class="mt-5">

            <!-- Heading -->
            <h2 class="font-weight-bold text-center white-text mb-3">Contact us</h2>

            <!--Grid row-->
            <article>
                    <!-- Form contact -->
                    {{ include('home/_contactForm.html.twig') }}
                    <!-- Form contact -->
            </article>
            <!--Grid row-->

        </section>
        <!--Section: Contact-->

    </section>

{% endblock %}
