<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Workout Maker{% endblock %}</title>
        {% block stylesheets %}
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <link href="{{ asset('css/mdb.min.css') }}" rel="stylesheet">
            <!-- Your custom styles (optional) -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <!-- Jquery ui -->
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
        {% endblock %}
    </head>
    <body>
        <!-- Main header navigation -->
        <header>
            {% block header %}

                <!--Navbar-->
                <nav class="navbar navbar-expand-lg navbar-dark">

                <div class="container">
                    <!-- Navbar brand -->
                    <a class="navbar-brand" href="{{ path('app_homepage') }}">WM</a>

                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="basicExampleNav">

                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_homepage') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_workouts') }}">Workouts</a>
                            </li>
                        </ul>
                        <!-- Links -->

                        <ul class="navbar-nav nav-flex-icons">
                            {% if is_granted('ROLE_USER') %}
                            <li class="nav-item dropdown mr-3">
                                <a class="nav-link dropdown-toggle" href="{{ path('app_account') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ app.user.avatarUrl(30) }}" alt="user's avatar"
                                         class="img-responsive thumbnail">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('app_account') }}">Profile</a>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="dropdown-item" href="{{ path('admin_exercise_index') }}">Admin exercise</a>
                                        <a class="dropdown-item" href="{{ path('admin_user_index') }}">Admin user</a>
                                        <a class="dropdown-item" href="{{ path('admin_workout_index') }}">Admin workout</a>
                                    {% endif %}
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a href="{{ path('app_login') }}" class="nav-link"><i class="fa fa-user fa-2x mr-2"></i>Login</a>
                            </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_register') }}" class="nav-link"><i class="fas fa-registered fa-2x mr-2"></i>Register</a>
                                </li>
                            {% endif %}
                        </ul>

                    </div>
                    <!-- Collapsible content -->
                </div>
            </nav>
            <!--/.Navbar-->

            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <aside class="alert alert-warning">
                    You are currently switched to this user: {{ app.user.email }}
                    <a href="{{ path('app_homepage', {
                        '_switch_user': '_exit'
                    }) }}">Exit Impersonation</a>
                </aside>
            {% endif %}

            {% endblock %}
        </header>
        <!-- /Main header navigation -->

        <!-- Main layout -->
        <main class="container mt-5">
            {% for message in app.flashes('success') %}
                <aside class="alert alert-success">
                    {{ message }}
                </aside>
            {% endfor %}

            {% block body %}{% endblock %}
        </main>
        <!-- /Main layout -->

        <!-- Footer -->
        <footer class="page-footer font-small mt-5">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="#"> Workout-Maker.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        {% block script %}
            <!-- SCRIPTS -->
            <!-- JQuery -->
            <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.js') }}"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>
            <!-- Jquery ui -->
            <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}" ></script>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
