{% extends 'base.html.twig' %}

{% block title %}Workouts{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/cards.css') }}">
{% endblock %}


{% block body %}
    <section class="row">
        <h1 class="col-12 white-text mb-5">Workouts <span class="badge badge-light">{{ workouts.getTotalItemCount }}</span></h1>

        <!-- Workout section -->
        {% for workout in workouts %}
            <div class="col-lg-4 col-sm-6 col-12 mb-4">
                <div class="card-style card-wm">
                    <div class="wrapper" >
                        <a href="{{ path('app_workout_show', {'slug': workout.slug}) }}">
                            <img src="{{ workout.imageName ? vich_uploader_asset(workout, 'imageFile') | imagine_filter('thumb') : asset('images/workouts/default.jpg') | imagine_filter('thumb') }}"
                                 alt="workout's image">
                        </a>
                        <div class="date">
                            <span class="day">{{ workout.createdAt | ago }}</span>
                        </div>
                        <div class="data">
                            <div class="content">
                                <img src="{{ workout.user.avatarUrl(30) }}" alt="user logo" class="img-responsive thumbnail">
                                <span class="author">{{ workout.user.email }}</span>
                                <h3 class="title"><a href="{{ path('app_workout_show', {'slug': workout.slug}) }}">{{ workout.name }}</a></h3>
                                <p class="text">{{ workout.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <hr class="hr-wm">
        {% endfor %}
        <div class="col-12 white-text">
            {{ knp_pagination_render(workouts) }}
        </div>

        <!-- /Workout section -->

    </section>
{% endblock %}
