{% extends 'base.html.twig' %}

{% block title %}Workouts{% endblock %}

{% block header %}
    {{ parent() }}

    <section class="container nav-wm white-text px-4">

        <form class="form-inline md-form mt-2">
            <input class="form-control form-control-sm mr-3 w-75"
                   name="search"
                   type="text"
                   placeholder="Search"
                   value="{{ app.request.query.get('search') }}"
                   aria-label="Search"
            >
            <i class="fa fa-search white-text" aria-hidden="true"></i>
        </form>

        <aside class="row d-flex justify-content-between">

            <span>
                <a class="btn-filter-wm btn-outline-wm">Débutant</a>
            </span>

            <span>
                <a class="btn-filter-wm btn-outline-wm">Intermédiaire</a>
            </span>

            <span>
                <a class="btn-filter-wm btn-outline-wm">Avancé</a>
            </span>

        </aside>

    </section>
    <hr class="hr-wm">
{% endblock %}

{% block body %}
    <section>
        <h1 class="white-text mb-5">Workouts ({{ workouts|length }})</h1>

        <!-- Workout section -->
        {% for workout in workouts %}
            <a href="{{ path('app_workout_show', {'slug': workout.slug}) }}" class="white-text">
                <article class="media">
                    <img class="d-flex align-self-center mr-3"
                         src=
                            "{% if workout.imageName %}
                                {{ vich_uploader_asset(workout, 'imageFile') | imagine_filter('thumb') }}
                            {% else %}
                                {{ asset('images/workouts/default.jpg') | imagine_filter('thumb') }}
                            {% endif %}"
                         alt="Generic placeholder image">
                    <aside class="media-body">
                        <h5 class="font-weight-bold mb-0">
                            {{ workout.name }}
                            <span> <!-- TODO add popularity <i class="fa fa-star orange-text-wm"> </i>--></span>
                        </h5>
                        <p class="mb-0"><strong>By :</strong> {{ workout.user.email }} </p>
                        <p><strong>{{ workout.publishedAT|ago }}</strong></p>
                    </aside>
                </article>
            </a>

        <hr class="hr-wm">
        {% endfor %}
        <!-- /Workout section -->

    </section>
{% endblock %}
