{% extends 'base.html.twig' %}

{% block title %}Workouts{% endblock %}

{% block header %}
    {{ parent() }}

    <section class="container nav-wm white-text px-4">
        <aside class="row d-flex justify-content-between mb-3">

            <span class="font-weight-bold"><i class="fa fa-arrow-left fa-2x mr-2" aria-hidden="true"></i>Workouts</span>

            <span><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>

        </aside>

        <aside class="row d-flex justify-content-between">

            <span>
                <a class="btn-filter-wm btn-outline-wm">Débutant</a>
            </span>

            <span>
                <a class="btn-filter-wm btn-outline-wm">Intermédiaire</a>
            </span>

            <span>
                <a class="btn-filter-wm btn-outline-wm">Avancé</a>
            </span>

        </aside>

    </section>
    <hr class="hr-wm">
{% endblock %}

{% block body %}
    <section>

        <!-- Workout section -->
        {% for workout in workouts %}
        <a href="{{ path('app_workout_show', {'slug': workout.slug}) }}" class="white-text">
            <article class="media">
                <img class="d-flex align-self-center mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg" alt="Generic placeholder image">
                <aside class="media-body">
                    <p class="font-weight-bold mb-0">{{ workout.name }}</p>
                    <p class="mb-0">
                        <!-- TODO add popularity -->
                        <i class="fa fa-star orange-text-wm"> </i>
                        <i class="fa fa-star orange-text-wm"> </i>
                        <i class="fa fa-star orange-text-wm"> </i>
                        <i class="fa fa-star orange-text-wm"> </i>
                        <i class="fa fa-star orange-text-wm"> </i>
                    </p>

                    <p class="mb-0">{{ workout.category }}</p>
                    <p class="mb-0">{{ workout.difficulty.level }} <i class="fa fa-circle orange-text-wm"></i>  <i class="far fa-circle orange-text-wm"></i> <i class="far fa-circle orange-text-wm"></i></p>
                    <p class="mb-0">Auteur : Froste L</p>
                </aside>
            </article>
        </a>

        <hr class="hr-wm">
        {% endfor %}
        <!-- /Workout section -->

    </section>
{% endblock %}
