{% extends 'base.html.twig' %}
{% block title %}Workout{% endblock %}

{% block body %}
    <aside class="mb-4">
        <button class="btn btn-wm js-return"><i class="fas fa-arrow-left"></i> Return</button>
    </aside>

    <section class="card">
            <article class="view" >
                <img class="card-img-top"
                     src="{{ workout.imageName ? vich_uploader_asset(workout, 'imageFile') | imagine_filter('medium') : asset('images/workouts/default.jpg') | imagine_filter('medium') }}"
                     alt="workout's image">
                <aside class="mask d-flex align-items-end rgba-black-light">
                    <div class="ml-4 white-text">
                        <h2 class="font-weight-bold">
                            {{ workout.name }}
                            <span class="ml-2">
                                <!-- TODO add popularity <i class="fa fa-star orange-text-wm"> </i>-->
                            </span>
                        </h2>
                        <p>
                            By : <strong>{{ workout.user.email }}</strong> <br>
                            {{ workout.createdAt | ago }}
                        </p>
                    </div>
                </aside>
            </article>

        <!-- Workout section -->
            <article class="card-body elegant-color white-text">
                <h3 class="mb-3">Description</h3>
                <p class="mb-0">{{ workout.description }}</p>

                <hr class="hr-wm">

                <h3 class="mb-3">Exercises</h3>

                {% for exercise in workout.exercises %}
                    <aside class="media wm-exercise my-2">

                        <div class="media-body">
                            <h5><a class="white-text font-weight-bold"
                                   href="{{ path('app_exercise_show', {'slug': exercise.exerciseName.slug }) }}">{{ exercise.exerciseName.exercise }} </a>
                            </h5>
                            <h4>{{ exercise.reps }} reps</h4>
                        </div>
                        <img class="d-flex ml-3"
                             src="{{ asset(exercise.exerciseName.muscleGroup.image) }}"
                             alt="Generic placeholder image">
                    </aside>
                {% endfor %}

            </article>

        <!-- /Workout section -->
    </section>
{% endblock %}
